extends ../layouts/layout.pug

block styles
  link(rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.css")
  link(rel="stylesheet" href="/public/stylesheets/style.css")
  link(rel="stylesheet" href="/public/stylesheets/measurement.css")

block content
  .measurement-container
    .device-info.card
      h3 Device Information
      .device-info__grid
        .device-info__item
          i.fa.fa-id-badge
          span Device ID: #{device.id}
        .device-info__item
          i.fa.fa-tag
          span Device Name: #{device.deviceName}
        .device-info__item
          i.fa.fa-cogs
          span Device Type: #{device.type}
        .device-info__item
          i.fa.fa-calendar-alt
          span Last Checked: #{device.lastChecked ? device.lastChecked : 'Never'}
        .device-info__item.battery
          i.fa.fa-battery-half
          span Battery Level: 
          progress(id="battery" max="100" value="0")
          span(id="batteryPercent") 0%
    .measurement__content
      .chart__container 
        .item-1.item 
          canvas#chart1
        .item-2.item
          canvas#chart2
        .item-3.item
          canvas#chart3
        .item-4.item  
          canvas#chart4
        .item-5.item
          #map(style="height: 100%;")

block scripts
  script.
    const measurementData = !{JSON.stringify(measurementList)};
    const deviceData = !{JSON.stringify(device)};
    const mapboxAccessToken = !{JSON.stringify(mapboxToken)};


  script(src="https://cdn.jsdelivr.net/npm/chart.js")
  script(src="https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.js")
  script(src="https://cdn.socket.io/4.8.1/socket.io.min.js")
  script(src="/public/javascripts/socket.js") 
  script(src="/public/javascripts/chartData.js")
  script(src="/public/javascripts/mapbox.js" defer type="module")
