extends ../layouts/layout.pug

block styles
  link(rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.css")
  link(rel="stylesheet" href="/public/stylesheets/style.css")
  link(rel="stylesheet" href="/public/stylesheets/measurement.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")

block content
  .measurement-container
    .device-info.card
      h3 Thông tin thiết bị
      .device-info__grid
        .device-info__item
          i.fa.fa-id-badge
          span Mã thiết bị: #{device.id}
        .device-info__item
          i.fa.fa-tag
          span Tên thiết bị: #{device.deviceName}
        .device-info__item
          i.fa.fa-cogs
          span Loại thiết bị: #{device.type}
        .device-info__item
          i.fa.fa-calendar-alt
          span Lần kiểm tra gần nhất: #{device.lastChecked ? device.lastChecked : 'Chưa kiểm tra'}
        .device-info__item.battery
          i.fa.fa-battery-half
          span Pin: 
          progress(id="battery" max="100" value="0")
          span(id="batteryPercent") 0%
    .measurement__content.mt-2
      .chart__container 
        .chart-item
          .chart-title
            h3 Dòng rò
          .item-1.item 
            canvas#chart1
        .chart-item
          .chart-title
            h3 Nhiệt độ
          .item-2.item
            canvas#chart2
        .chart-item
          .chart-title
            h3 Độ ẩm
          .item-3.item
            canvas#chart3
        .chart-item  
          .chart-title
            h3 Tổn thất điện áp
          .item-4.item
            canvas#chart4
        .chart-item
          .chart-title
            h3 Vị trí thiết bị
          .item-5.item
            #map

block scripts
  script.
    const measurementData = !{JSON.stringify(measurementList)};
    const deviceData = !{JSON.stringify(device)};
    const mapboxAccessToken = !{JSON.stringify(mapboxToken)};


  script(src="https://cdn.jsdelivr.net/npm/chart.js")
  script(src="https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.js")
  script(src="https://cdn.socket.io/4.8.1/socket.io.min.js")
  script(src="/public/javascripts/socket.js") 
  script(src="/public/javascripts/chartData.js")
  script(src="/public/javascripts/mapbox.js" defer type="module")
